{% extends "base.html" %}

{% block title %}About Me{% endblock %}

{% block content %}
Hi, my name is Ben Croisdale and I'm a freelance software developer. My interests are broad and I
particularly enjoy mastering new skills. I studied computer science and applied mathematics in
college and I chose these fields not necessarily because they interested me the most (though I enjoy
them both quite a bit) but because I judged that they would be most effective at improving my
abilities in general.

That gives you an understanding of my philosophy for approaching hard problems: build your tools
turn them to the task. Programming is very useful for this because it allows me to automate what can
be automated and it provides a gears-level understanding of software tools. Mathematics, on the
other hand, provides me with a general-purpose problem solving toolkit.

When I solve a problem, I like it to stay solved and I like to also solve the nearest class of
problems similar to the actual issue.

Douglas Hofstadter identified something he called Hofstadter's Law: "It always takes longer than you
think it will, even after having taken into account Hofstadter's Law." This tends to be true
throughout project management, but it seems to be _especially_ true with software projects.
Schedules in software development are more wishlists than actual plans.

I'm quite a big fan of Dr. Hofstadter's work, but I have decided to personally declare war on his
Law. I do not believe late software is an inevitable fact of life, I just think we need to get
better at planning.

This is what I can bring to a software project: plans that have a chance of actually working as
described instead of falling apart at the first unexpected obstacle.
{% endblock %}
