{% extends "base.html" %}

{% block title %}Home{% endblock %}

{% block content %}
Hi, my name is Benjamin Croisdale (I typically go by 'Ben' and you may see me around the various
nets as 'darkar' or some variation thereupon). I'm a freelance software developer focusing mainly
on full-stack web development and data analysis, but I have many (many) interests and like to keep
my projects varied. If I list a skill on this site, then I consider it to be profession quality and
I would expect to be able to immediately jump in on a project focusing on that skill.
{% endblock %}
