{% extends "base.html" %}

{% block title %}Create Blog Post{% endblock %}

{% block content %}
{% if not current_user.is_authenticated %}
    <h1>You must <a href="/auth/login">log in</a> to create a post!</h1>
{% else %}
<h1>Create a New Post</h1>
<form id="postform" method="POST">
    <input id="ptitle" type="text" name="title" placeholder="Title">
    <hr>
    <div class="grid-x grid-padding-x">
        <div class="cell small-6">
        <textarea id="pbody" name="body" placeholder="Post content"
            style="width:100%;height:400px;"></textarea>
        </div>
        <div id="rendered-post" class="cell small-6">Rendered</div>
    </div>
    <hr>
    <label for="skills">Choose this post's skill associations
        (or <a href="/skills/create">create a new skill</a>)</label>
    <select id="skills" name="skills" multiple>
        {% for skill in skills %}
            <option value="{{ skill.id }}">{{ skill.name }}</option>
        {% endfor %}
    </select>
    <input type="submit" class="success button" value="Create" />
</form>
{% endif %}
{% endblock %}
